<!DOCTYPE html>
<html>
<head>
    <title>Plasterworx - Mark Huxley</title>
    <%= stylesheet_link_tag 'tenants/' + @tennant %>
</head>
<body>
    <header>
        <h1>Plasterworx - Mark Huxley</h1>
    </header>

    <hr />

    <nav>
        <ul>
            <li>About us</li>
            <li>Testimonals</li>
            <li>Gallery</li>
            <li>Contact Us</li>
        </ul>
        <P><a href="tel:07880 316495">07880 316495</a></p>
    </nav>  
    <main>
        <h3>    
            Welcome to Plasterworx
        </h3>
        <p>I've been plastering for over 20 years. I'm able to do all aspects of the trade, including:</p>
        <ul>
            <li>Damp course</li>
            <li>Rendering</li>
            <li>Scimming</li>
            <li>Coving</li>
        </ul>
    </main>

    <hr />

    <footer>
        &copy; 2018 Plasterworx.
    </footer>
</body>
</html>